// text color
$color-primary: #007bff;
$color-danger:#dc3545;
$color-warning: #ffc107;
$color-success: #28a745;
$color-text: rgb(133,146,162);
$color-text-blue:rgb(29,122,189);
$color-text-dark: rgb(33,36,41);
$color-text-white: rgb(251,252,255);
$color-text-gray: rgb(116,119,124);

// background color
$background-color-gray: rgb(53,58,64);


// border color
$color-input-gray: rgb(211,211,213);

// hover color
$hover-color-white: #fff;


// font-size:
$font-size-primary: 1.4rem;
$font-size-label: 1.8rem;
$font-size-title: 2.4rem;



// hover transition
$hover-time-transition: 0.3s;

// border radius
$border-radius-medium: 5px;

// test
$border: 1px;